//Button Toggle
$btn-toggle-btn-width: 200px;
$btn-icon-font-size: 75px;
$btn-transition-duration: 0.01s;

//$btn-toggle-border-radius: 500px;
$btn-toggle-btn-opacity: 0.95;
//$btn-toggle-group-btn-margin: 100px;
//$btn-toggle-btn-padding: 100px;
